.movie-datails-container {
  background-color: var(--secondary-bg-color);
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  border-radius: 1.6rem 0 1.6rem 1.6rem;
  box-shadow: -4px 3px 5px var(--primary-color);
}

.movie-datails-container img {
  width: 50%;
  max-width: 400px;
  border-radius: 1.6rem 0 0 1.6rem;
}

.movie-datails-content {
  padding: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

@media (max-width: 550px) {
  .movie-datails-container {
    flex-direction: column;
    border-radius: 1.6rem;
  }

  .movie-datails-container img {
    border-radius: 1.6rem 1.6rem 0 0;
    width: 100%;
    max-width: 100%;
  }
}
